A.listLink:LINK, A.listLink:VISITED {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : #40677B;
	font-weight : normal;
}
A.listLink:HOVER, A.listLink:ACTIVE {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : #996600;
	font-weight : normal;
}
A.updateText:ACTIVE, A.updateText:LINK, A.updateText:VISITED, A.updateText:HOVER {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
	color : #996600;
	text-decoration : none;
	padding-top : 3px;
	padding-bottom : 1px;
}
A.sendText {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
	color : #CC9933;
	text-decoration : none;
}
A.navLink:LINK, A.navLink:VISITED {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 13px;
	font-weight : bold;
	color : #000000;
	text-decoration : none;
	background-color : #E6E5E3;
	width : 100%;
	border : 1px solid #E6E5E3;
	padding-top : 1px;
	padding-bottom : 1px;
}
A.navLink:ACTIVE, A.navLink:HOVER {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 13px;
	font-weight : bold;
	color : #000000;
	text-decoration : none;
	background-color : #CAD8DF;
	width : 100%;
	border : 1px solid #CAD8DF;
	padding-top : 1px;
	padding-bottom : 1px;
}
A.navLinkSelected:LINK, A.navLinkSelected:VISITED {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 13px;
	font-weight : bold;
	color : #000000;
	text-decoration : none;
	background-color : #DED7CA;
	width : 100%;
	border : 1px solid #DED7CA;
	padding-top : 1px;
	padding-bottom : 1px;
}
A.navLinkSelected:ACTIVE, A.navLinkSelected:HOVER {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 13px;
	font-weight : bold;
	color : #000000;
	text-decoration : none;
	background-color : #CAD8DF;
	width : 100%;
	border : 1px solid #CAD8DF;
	padding-top : 1px;
	padding-bottom : 1px;
}
A.subLink {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
	text-decoration : none;
	color : #336699;
	padding-top : 1px;
	padding-bottom : 1px;
}
A.deleteLink:ACTIVE, A.deleteLink:HOVER {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : #996600;
	text-align : right;
	font-weight : normal;
}
A.deleteLink:VISITED, A.deleteLink:LINK {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : 336699;
	text-align : right;
	font-weight : normal;
}

/* DIVS & SPANS */
DIV.pageHolder {
	width : 100%;
	padding-left : 11px;
	padding-top : 8px;
}
DIV.updateText {
	background-color : #DAEAF2;
	border-right : 1px solid #996600;
	border-top : 1px dotted #996600;
	border-bottom : 1px solid #996600;
	border-left : 1px dotted #996600;
	padding-left : 16px;
	padding-right : 16px;
}

/* Regular Text */
.tableText {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : #000000;
	padding-top : 3px;
	padding-bottom : 3px;
	font-weight : normal;
}
.tableTextInactive {
        font-family : Arial, Helvetica, sans-serif;
        font-size : 12px;
        color : #999999;
        padding-top : 3px;
        padding-bottom : 3px;
        font-weight : normal;
}
.formText {
	padding-top : 7px;
	padding-bottom : 7px;
	padding-right : 11px;
	text-align : right;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : #000000;
	font-weight : normal;
}
.formTextNoPad {
	padding-top : 0px;
	padding-bottom : 0px;
	padding-right : 0px;
	padding-left : 0px;
	text-align : left;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : #000000;
	font-weight : normal;
}
.formTextNarrow {
	padding-top : 1px;
	padding-bottom : 1px;
	padding-right : 1px;
	text-align : right;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : #000000;
	font-weight : normal;
}
.formTextRed {
	background-color : #DAEAF2;
	padding-top : 1px;
	padding-bottom : 1px;
	padding-left : 1px;
	padding-right : 1px;
	text-align : right;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : #cc0000;
	font-weight : normal;
}
.helpText {
	padding-top : 1px;
	padding-bottom : 1px;
	padding-right : 5px;
	padding-left : 5px;
	text-align : left;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : #000000;
	font-weight : normal;
}
.helpBold {
	padding-top : 1px;
	padding-bottom : 1px;
	padding-right : 5px;
	padding-left : 5px;
	text-align : left;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 14px;
	color : #000000;
	font-weight : bold;
}
.tableHeader {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : normal;
	color : #666666;
	padding-top : 5px;
	padding-bottom : 5px;
}
.tableTitle {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : normal;
	color : #666666;
	padding-top : 5px;
	padding-bottom : 5px;
	border-bottom : 1px dotted #FFFFFF;
}
.reportHeader {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
	color : #000000;
}
.pageHeader, A.pageHeader {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 20px;
	color : #E6E5E3;
	font-weight : bold;
	padding-left : 13px;
}
.pageFooter {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 14px;
	color : #E6E5E3;
	font-weight : normal;
	padding-left : 13px;
}
.pageTitle {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 14px;
	text-decoration : none;
	color : #E6E5E3;
	font-weight : bold;
	padding-left : 13px;
}
A.pageTitle {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 14px;
	text-decoration : underline;
	color : #E6E5E3;
	font-weight : bold;
	padding-left : 13px;
}
.campaignHeader {
	color : #000000;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 14px;
	font-weight : bold;
}

