<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>MiMQIP</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet-mapping>
		<servlet-name>jsp</servlet-name>
		<url-pattern>*.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>jsp</servlet-name>
		<url-pattern>*.jspx</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/404.htm</location>
	</error-page>

	<servlet>
		<servlet-name>InitWebTierDBConnectionServlet</servlet-name>
		<servlet-class>flinn.dao.dbconnection.WebTierDBConnectionServlet</servlet-class>
		<init-param>
			<param-name>useflag</param-name>
			<!-- useflag is either "datasourcejndiname" or "mysql" -->
			<param-value>datasourcejndiname</param-value>
		</init-param>
		<init-param>
			<param-name>datasourcejndiname</param-name>
			<param-value>java:/comp/env/jdbc/MIMQIP</param-value>
		</init-param>
		<load-on-startup>4</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>FlinnServlet</servlet-name>
		<servlet-class>flinn.servlet.FlinnServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FlinnServlet</servlet-name>
		<url-pattern>/MQIP</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FlinnTrainingServlet</servlet-name>
		<servlet-class>flinn.servlet.FlinnTrainingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FlinnTrainingServlet</servlet-name>
		<url-pattern>/MQIPTrain</url-pattern>
	</servlet-mapping>

	<resource-ref>
		<description>The default DS</description>
		<res-ref-name>jdbc/MIMQIP</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

</web-app>
