/* app styles */
#instructionsWrapper{background: url(../images/global/instructionBandBg.png) repeat-x;}
#instructions{
	width:990px;
	margin:0 auto;
	padding-top:2px;
	height:58px;
}
#instructions p{
	padding-left:3px;
	height:20px;
	width:987px;
	position:relative;
	line-height:21px;
	padding-bottom:3px;
}

#instructions p .heading{font-size:13px;}
#hideInstructions{position:absolute; right:10px; top:0px;}
#hideInstructions span{background: url(../images/global/hideShowH.png) no-repeat center 4px; }
#instructions.hide span{background-position: center -11px;}
#instructions.hide {height:25px;}
#instructions.hide ul,
#instructions.hide .pleaseRemember{display:none}
#instructions ul{
	background: url(../images/global/arrowsBg.png) no-repeat;
	height:30px;
	line-height:30px;
	padding-left:20px;
}
#instructions ul li{
	float:left;
	width:235px;
}
#instructions #firstStep{width:250px;}
#instructions #secondStep{width:236px;}
#instructions #thirdStep{width:245px;}
#instructions ul li a{
	margin-left:12px;
	font-size:11px;
	color:#3B3B3B;
	text-transform:uppercase;
}
#instructions ul li.disabled,
#instructions ul li.disabled a{text-decoration:none;color:#75848C;}

#boxes{
	padding:8px 5px 10px;
	overflow:hidden;
	height:127px;
	position:relative;
}

#top .box{
	float:left;
	margin-left:3px;
	height:100%;
	background:#fff;
}	
#top .box:first-child{margin:0px;}
#top #boxInformation{width:210px;}
#top #boxDiagnosisStage{width:172px;}
#top #boxMedications{width:195px;}
#top #boxNotes{width:393px;}

#top .box .headingBar{
	background:#75848c;
	color:#fff;
	height:22px;
	padding:2px 3px 2px 9px;
}

#top .box .headingBar h2{
	font-size:16px;
	line-height:21px;
	font-weight:normal;
	float:left;
}

#top .noteInfoBar{
	border-top:1px solid #acb7bd;
	border-bottom:1px solid #b5c0c6;
	background:#5eb6dc;
	height:22px;
	color:#fff;
	padding:0 12px;
	line-height:22px;
	font-weight:bold;
}
.noteInfoBar span{float:left;padding-right:15px;}
.noteInfoBar .author{float:right;}

.note{padding:1px 12px 4px; height: 70px; overflow: hidden; position:relative;}
.note p{color:#3e3e3e; line-height:15px;}
.note p.paddingTop{padding-top:10px;}
.note .tags{color:#4a96b6;}

.ellipses{position:absolute; bottom:-1px;right:13px; font-size:13px; background:#fff;}

.btn{
	background: url(../images/global/grayButtonBg.png) repeat-x;
	width:90px;
	height:20px;
	float:right;
	border:1px solid #7e7e7e;
	margin-left:3px;
}
.btn:hover{background-position:bottom left;}

.btn span{
	display:block;
	text-indent:-9000px;
	height:100%;
}

#searchNotesBtn span{background: url(../images/global/searchNotesH.png) no-repeat center 4px;}
#createNoteBtn span{background: url(../images/global/createNoteH.png) no-repeat center 4px;}
#viewAllBtn span{background: url(../images/global/viewAllH.png) no-repeat center 4px;}
#updateViewPast span{background: url(../images/global/updateViewPastH.png) no-repeat center 4px;}
#updateViewPast{width:105px; margin-right:3px;}

.fieldBox{
	border:1px solid #c7d1d7;
	border-right:0px;
	border-bottom:0px;
	float:left;
	height:24px;
	/*padding:0 3px 3px 5px;*/
	padding:0 3px 0 5px;
}

.fieldBox .title{
	font-size:10px;
	text-transform:uppercase;
	color:#797979;
	line-height:17px;
	float:left;
	padding-right:5px;
}

.fieldBox .content{
	color:#3e3e3e;
	font-weight:bold;
	font-size:14px;
	line-height:27px;
	text-transform:capitalize;
}
 
#first .content, #id .content, #last .content{
	float:left;
	overflow:hidden;
	width: 155px;
	height:24px;
}

#first, #id, #last{width:202px;}
#sex{width:40px;}
#age{width:45px;}
#dob{width:99px;}
#diagnosis{width:164px; float:none; height:74px;}
#meds{width:196px; height:99px;}
#stage{width:50px; border-right:1px solid #ccc;}
#changeViewPast{float:left; margin:2px 0 0 6px;}
#cdp{width:96px;}
#se{width:152px;}
#first, #last, #sex, #id, #diagnosis, #stage{border-left:0px;}

.box .floatWrapper{float:left;}
#meds .content,
#diagnosis .content{
	display:block; 
	clear:both;
	font-size:12px;
	line-height:14px;
	padding-left:1px;
}

#meds .content span{display:block;}

#diagnosis .content{line-height:13px; text-transform:none;}

#createProgressNote{
	position:absolute;
	top:8px;
	height:118px;
	width:628px;
	right:-9000px;
	background:#5eb6dc;
	-moz-box-shadow: 0px 0px 6px #454545;
    -webkit-box-shadow: 0px 0px 6px #454545; 
    box-shadow: #454545 0px 0px 6px;     
	padding:5px 4px;
}

.ie7 #createProgressNote,
.ie8 #createProgressNote{behavior: url(pie.htc);}

#createProgressNote.show{right:5px;}
#createProgressNote .jHtmlArea{
	display:none;
	background:#fff;
	padding:5px;
}
#createProgressNote.show .jHtmlArea{display:block;}

#createProgressNote h3{
	color:#fff; 
	font-weight:normal;
	font-size:16px;
	line-height:24px;
}

#topToolBar{display:none;}
.show #topToolBar{display:block;}

#topToolBar a{
	text-indent:-9000px;
	position:absolute;
	top:0px;
	right:0px;
}

#topToolBar #saveNote{	
	background: url(../images/saveBtn.png) no-repeat 0 -24px;
	height:24px;
	width:94px;
	right:30px;
	top:-3px;
}

#topToolBar #saveNote.disabled{background-position:top left;}

#topToolBar #cancelNote{
	background: url(../images/closeBtn.png) no-repeat;
	height:30px;
	top:-6px;
	right:-4px;
	width:30px;
}

#topToolBar #saveNote:hover,
#topToolBar #cancelNote:hover{background-position: bottom left;}
#topToolBar #saveNote.disabled:hover{background-position:top left;}

#createProgressNote #tagSelectList{
	background:#fff;
	clear:both;
	padding:0 5px 5px;
	height:89px;
	overflow:hidden;
}

#tagSelectList li{
	float:left;
	/*padding:4px 0;*/
	width:110px;
}

#tagSelectList li input{
	margin:0px;
	padding:0px;
	float:left;
	margin:3px 3px 0 0;
	width:15px;
	height:15px;
}

#tagSelectList li label{
	float:left;
	padding-top:3px;
}

div.jHtmlArea { display: inline block; }
div.jHtmlArea div { padding: 0px; margin: 0px; }
div.jHtmlArea .ToolBar { }
div.jHtmlArea .ToolBar ul { margin: 1px; padding:2px 1px; float: left; background: #fff url(../images/toolbarBg.png) no-repeat;}
div.jHtmlArea .ToolBar ul li { list-style-type: none; float: left; border: none; padding: 1px; margin: 1px 1px 1px 2px; }
div.jHtmlArea .ToolBar ul li:first-child{margin-left:1px; padding-left:1px;}
div.jHtmlArea .ToolBar ul li:hover { border: solid 1px #ccc; background: #ddd url(../images/jHtmlArea_Toolbar_Group__Btn_Select_BG.png); padding:0; }
div.jHtmlArea .ToolBar ul li a { display: block; width: 16px; height: 16px; background: url(../images/jHtmlArea.png) no-repeat -16px -500px; border: none; cursor: pointer; padding: 0px; }
div.jHtmlArea .ToolBar ul li a.highlighted { border: solid 1px #aaa; background-color: #bbb; padding: 0; }

div.jHtmlArea .ToolBar ul li a:hover { }
div.jHtmlArea .ToolBar ul li a.bold { background-position: 0 0; }
div.jHtmlArea .ToolBar ul li a.italic { background-position: -16px 0; }
div.jHtmlArea .ToolBar ul li a.underline { background-position: -32px 0; }

#writeNote .ToolBar{
	position:absolute;
	top:-4px;
	left:150px;
	width:100px;
}

#selectTags{float:left;}
#writeNote{
	position:absolute;
	right:4px;
	top:5px;
}
#selectTags{
	width:231px;
	margin-right:5px;
}
#writeNote textarea{
	width:382px;
	height:84px;
	font:12px arial, sans-serif;
	margin:0px;
	border:none;
	padding:5px;
}

#tabsOuterWrapper{padding-bottom:47px;}

#tabs .tabBox{
	width:1000px;
	margin:0 auto;
	font-size:14px;
	line-height:18px;
	height:453px;
	overflow-y:auto;
	position:relative;
	/*position:absolute;
	left:50%;
	margin-left:-500px;*/
}
/* tabs */
#ajaxLoader{
	background:#000;
	opacity:.5;
	filter: alpha(opacity=50);
	width:100%;
	position:absolute;
	top:0px;
	padding-bottom:47px;
	z-index:100;
	display:none;
	height:100%;
}

#ajaxLoader img{
	margin:220px auto 0;
	display:block;
}

#tabWrapper{
	background: url(../images/global/tabsBg.png) repeat-x;
	height:47px;
}

#tabWrapper ul{
	width:988px;
	margin:0 auto;
	padding-left:6px;
	overflow:hidden;
	background: url(../images/global/tabBorderBg.png) no-repeat 986px 2px;
}

#tabWrapper li{
	float:left;
	width:139px;
	padding-left:1px;
	height:47px;
	position:relative;
}

#tabWrapper li{background: url(../images/global/tabBorderBg.png) no-repeat bottom left;}

#tabWrapper li.ui-tabs-selected{
	background: url(../images/global/tabOnBg.png) no-repeat;
	z-index:10;
	margin:0 -7px;
	width:154px;
	padding-left:0px;
}

#tabWrapper li a{
	display:block;
	height:37px;
	padding-top:10px;
	background: url(../images/global/tabsBg.png) repeat-x;
}

#tabWrapper li.ui-tabs-selected a{background:none;}
#tabWrapper li.ui-tabs-selected a span{width:140px; margin:0 auto;}
#tabWrapper li a:hover{background-position: bottom left;}

#tabWrapper a span{
	display:block;
	text-indent:-9000px;
	cursor:pointer;
	height:100%;
	background: url(../images/global/navSpriteBg.png) no-repeat;
}

#tabEvaluations a span{background-position: 0px 0;}
#tabMedications a span{background-position: -143px 0px;}
#tabRecommendations a span{background-position: -280px 0px;}
#tabProgress a span{background-position: -421px 0px;}
#tabLabs a span{background-position: -563px 0px;}
#tabInformation a span{background-position: -702px 0px;}
#tabReports a span{background-position: -845px 0px;}
#tabEvaluations.ui-tabs-selected span{ background-position: 0px -63px}
#tabMedications.ui-tabs-selected span{background-position: -143px -63px}
#tabRecommendations.ui-tabs-selected span{background-position: -280px -63px}
#tabProgress.ui-tabs-selected span{background-position: -421px -63px}
#tabLabs.ui-tabs-selected span{background-position: -563px -63px}
#tabInformation.ui-tabs-selected span{background-position: -702px -63px}
#tabReports.ui-tabs-selected span{background-position: -845px -63px}

.ui-tabs { zoom: 1; position:absolute; width:100%; } /* position: relative or absolute prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav li { border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
/*.ui-tabs .ui-tabs-hide { display: none !important;}*/
#container .ui-tabs .ui-tabs-hide { left:-9999px; position:absolute; top:-9999px;}
.ui-tabs-panel{position:absolute;}

/* recommendations */
#recommendations.tabBox{
	padding:15px 0;	
}
#recommendations.tabBox h2{
	font-size:20px; 
	font-weight: normal; 
	margin-bottom:5px;
	line-height:22px;
}
#recommendations.tabBox h2.hide{display:none;}
#recommendations.tabBox h3{font-size:14px; font-weight:bold;}
#recommendations.tabBox ul li{list-style:disc; margin:0 0 10px 30px;}
#recommendations.tabBox p{margin-bottom:10px;}

#recommendations dt{
	color:#5eb6dc; 
	color:#4A96B6;
	font-weight:bold; 
	font-size:14px;
	margin-top:18px;
}

.floatLeft{
	width:430px;
	float:left;
	padding:0 20px;
}

.right{width:470px;}

#recommendations table{	
	border-spacing:2px;
	border-collapse: expression('separate', cellSpacing = '2px');
	color:#3e3e3e;
	margin-bottom:5px;
	width:470px;
}
#treatmentTableLink{margin-bottom:15px; display:block; }

#recommendations table td,
#recommendations.tabBox table th{
	background:#cbdc85;
	padding:6px 8px;
	width:130px;
}
#recommendations table td{
	font-size:14px;
	line-height:15px;
	height:46px;
	vertical-align:top;
}
#recommendations table th{
	font-weight:bold; 
	font-size:12px;
	text-transform:uppercase;
}
#recommendations table th.narrow,
#recommendations table td.narrow{
	width:40px; 
	padding:6px 5px; 
	font-weight:bold;
}
#recommendations table td.narrow{
	text-align:center; 
	vertical-align:middle;
}
#recommendations table .odd{background:#dae6a9;}

/* medications */
#medications.tabBox{padding-top:6px; overflow:visible; }
#medications .floatHolder{
	width:880px;
	margin:0 auto;
	padding-left:30px;
	padding-bottom:4px;
	overflow:hidden;
	height:21px;
}

#medications .floatHolder h3{
	float:right;
	font-size:11px;
	margin-right:5px;
	line-height:22px;
	text-transform:uppercase;
	font-weight:bold;
}

#chartKey{
	float:left;
	width:250px;
	margin-right:40px;
	padding-top:10px;
	color:#737b7f;
}

#chartKey p{
	float:left;
	padding:0 15px 0 22px;
	position:relative;
}

.chartKeyBox{
	width:15px;
	height:15px;
	float:left;
	position:absolute;
	left:0px;
}

.chartKeyBox.current{background:#56a8cb;}
.chartKeyBox.discontinued{background:#acb5ba;}

#graphWrapper{
	height:130px;
	border-bottom:1px solid #fff;
	width:908px;
	margin:0 auto;
	position:relative;
}

#key{
	position:absolute;
	background:#cbdc85;
	width:173px;
	height:231px;
}

#key #scales{
	width:173px;
	margin-top:15px;
}

#key #scales .pullDown{
	width:168px;
	background: #9fbb2b url(../images/dropdownArrowSmallerBg.gif) no-repeat right top;
	padding-left:5px;
	color:#fff;
	font-size:12px;
}

#key #scales li{background:#9FBB2B;border-bottom: 1px solid #9FBB2B;}
#key #scales li.odd{background:#778E05;border-bottom: 1px solid #778E05;}

#key #scales li a{padding-left:5px;color:#fff;}

#keyWrapper{
	padding:10px 0 0 5px;
}

#keyWrapper li{
	padding:0 0 5px 20px;
	display:none;
	font-size:12px;
}

#keyWrapper li.brown{background: url(../images/graph/brownGraphKey.png) no-repeat 0 2px;}
#keyWrapper li.purple{background: url(../images/graph/purpleGraphKey.png) no-repeat 0 2px;}
#keyWrapper li.red{background: url(../images/graph/redGraphKey.png) no-repeat 0 2px;}

#graph{
	background: url(../images/graph/graphBg.png) repeat-x;
	height:100%;
	width:908px;
	float:right;
}

#selectedLabel{
	background: url(../images/graph/selectedLabelBg.png) no-repeat;
	height:56px;
	font-size:14px;
	font-weight:bold;
	width:163px;
	position:absolute;
	left:0px;
	top:35px;
	padding:12px 0 0 8px;
	color:#fff;
}

#graph ul{
	position:absolute;
	bottom:0px;
	right:0px;
	height:107px;
}

#graph li{
	float:left;
	padding:0 5px;
	width:82px;
	position:relative;
	height:100%;
}

#graph li .bar{
	position:absolute;
	bottom:0px;
	border-bottom:0px;
	height:20%;
	border:1px solid #fff;
	-moz-box-shadow: 2px -1px 5px #bdbcbc;
    -webkit-box-shadow: 2px -1px 5px #bdbcbc; 
    box-shadow: #bdbcbc 2px -1px 7px;     
}

.ie7 #graph li .bar,
.ie8 #graph li .bar{ behavior: url(pie.htc);}

#graph li.barLength1 .bar{width:38px; left:27%;}
#graph li.barLength2 .bar{width:30px; left:9%;}
#graph li.barLength3 .bar{width:19px; left:9%;}

#graph li.barLength2 .bar2{margin-left:39px;}
#graph li.barLength3 .bar2{margin-left:26px;}
#graph li.barLength3 .bar3{margin-left:52px;}

#graph li .shadowWrapper{
	background: url(../images/graph/brownGraphBarBg.png) bottom left;
	height:100%;
	position:relative;
	width:100%;
}

#graph li .bar.bar2 .shadowWrapper{background: url(../images/graph/purpleGraphBarBg.png) bottom left;}
#graph li .bar.bar3 .shadowWrapper{background: url(../images/graph/redGraphBarBg.png) bottom left;}

#graph li .amount{
	position:absolute;
	top:-18px;
	color:#3e3e3e;	
	font-size:12px;
	line-height:12px;
	font-weight:bold;
	width:100%;
	text-align:center;
}

#medications #chartWrapper{position:relative; width:100%;}
#medications .outerTable{
	position:relative;
	padding-top: 45px;
	width:952px;
	margin-left:4px;
}

#medications .innerTable{
	overflow:auto; 
	width:926px;
	margin-left:42px;
}

#medications table{
	width:908px;
	border-collapse:collapse;
}

#medications table thead tr{
    left: 42px;
	width:909px;
    position: absolute;
    top: 0;
}

#medications thead th{
	height:20px;
	border-right:1px solid #fff; 
	color:#fff;
	padding:5px 6px 5px;
	width:79px;
	vertical-align:top;
	font-weight:bold;
}

#medications #weekH{
	float:left; 
	color:#cdd3d6; 
	line-height:14px;
	padding-left:5px;
}

#medications thead .appt{
	width:174px; 
	border-left:0px;
	margin-left:1px;
	border-right:0px; 
	padding:0;
	height:45px;
	vertical-align:top;
}

#medications thead .appt span{
	display:block; 
	text-align:right;
	line-height:14px;
	color:#fff;
	font-size:14px;
	float:none;
	padding:5px 10px 0 0;
}

#medications thead .appt .date{padding-top:8px;}

#medications th .date{
	font-size:13px; 
	display:block; 
	padding-top:5px;
	line-height:12px;
	clear:both;
}

#medications th .week{
	color:#dee1e3;	
	float:left; 
	height:14px;
	font-size:14px;
	line-height:14px;
	padding:0 0 4px 2px;
}

#medications th .stage{
	float:right;
	color:#dee1e3;	
	padding-right:2px;
	line-height:14px;
}

#medications tbody{border-top:1px solid #fff;}

#medications td{
	width:83px;
	padding:3px 4px 5px;
	vertical-align:middle;
	text-align:center;
	color:#3e3e3e;
	font-weight:bold;
	border:1px solid #fff;
	border-right:none;
}

#medications tbody .heading{
	height:30px;
	border-bottom:1px solid #fff; 	
	border-top:1px solid #fff;
	text-align:left;
	vertical-align:middle;
	padding:0 0 0 7px;
	width:167px; 
	font-weight:normal;
	border-right:0px; 
	border-left:0px;
}
#medications tbody .discontinued .heading a{color:#3e3e3e;}

#medications table tr .appt,
#medications .discontinuedDivider td{background:#75848c; } /* dark gray */
#medications table tr.discontinued .heading,
#medications thead th{background:#acb5ba;} /* medium gray */
#medications tr.current td.heading,
#medications tr th.current{background:#56a8cb;} /* dark blue */

#medications .current td{background:#bfe2f1;}
#medications .current.odd td{background:#8ecce6;}
#medications .discontinued td{background:#eaeaea;}
#medications .discontinued.odd td{background:#dadada;}

#medications table .current .week,
#medications table .current .stage{color:#bbdcea;}
#medications .current .heading,
#medications .discontinuedDivider td{color:#fff;}
#medications .discontinued td{color:#646464;}

#medications .discontinuedDivider td{
	text-align:left; 
	height:20px;
	font-size:12px; 
	width:auto;
	padding:1px 0 2px 7px; 
}

#medications .heading .dcWrapper{
	float:left;
	height:100%;
	width:32px;
	border-right:1px solid #fff;
	background:#fff;
}

#medications .navArrow{
	width:45px; 
	height:45px;
	float:left;
	z-index:30;
	text-indent:-9000px;
	position:absolute;
	top:0px;
	display:none;
}
#medications .navArrow:hover{background-color:#9fbb2b;}
#medications .previous{background: #75848c url(../images/graph/doubleBackArrow.png) no-repeat 13px 17px; left:0px;	border-right:1px solid #fff;}
#medications .next{background: #75848c url(../images/graph/doubleForwardArrow.png) no-repeat 17px 17px; right:0px;	border-left:1px solid #fff;}

#medications #enterNew span{background: url(../images/enterNewH.png) no-repeat center 3px;}
#medications #prescribe span{background: url(../images/eprescribeH.png) no-repeat center 3px;}
#medications #discontinue span{background: url(../images/discontinueH.png) no-repeat center 3px;}
#medications #discontinue.disabled span{background: url(../images/discontinueH.png) no-repeat center -19px;}
#medications #discontinue.disabled:hover{background-position: top left;}
/* progress notes */
#progress{background: url(../images/progressNoteBg.png) repeat-y;}
#progress.noNotes{background:none;}

#progress #searchBar{
	z-index:5;
	height:94px;
	background:#fff;
	position:relative;
}

#searchBoxesWrapper .clearNoteSearch{
	float:left;
	margin:30px 0 0 35px;
}

#progress .noresults{
	position:relative;
	border-top:1px solid #cfd9de;
}

#progress #searchBar h2{
	text-indent:-9000px;
	background: url(../images/magnifyingGlass.jpg) no-repeat;
	height:94px;
	width:127px;
	float:left;
	margin:0 45px 0 10px;
}

#searchBoxesWrapper{
	padding-top:20px;
	float:left;
	width:781px;
}

#searchKeywords input{float:left; margin-top:3px;}
#searchKeywords input[disabled="disabled"]:hover{background-position:top left;}
#noteKeywords[disabled="disabled"]{color:#A8B0B5;}

.ie7 #noteKeywords, 
.ie8 #noteKeywords,
.ie7 #searchKeywords input, 
.ie8 #searchKeywords input,
.ie7 #tagDropdown .pullDown,
.ie8 #tagDropdown .pullDown{-pie-watch-ancestors: 6;}

#searchKeywords.fieldWrapper{width:440px; position:relative;}
#noteKeywords{width:210px;}
#tagDropdown{width:250px;}
#tagDropdown .pullDown{width:240px;}

#searchContent{
	position:relative;
	border-top:1px solid #cfd9de;
	overflow:hidden;
}

#searchContent h3{width:450px;}

#searchContent h3,
#searchContent h2{
	font-weight:bold; 
	font-size:14px; 
	margin-bottom:5px;
	overflow:hidden;
}

#noteContent h3{font-size:16px;}
#noteContent h3 span, #noteSamples  h3 span{float:left;}
#searchContent .date{float:right; width:72px;}
#searchContent .time{width:65px;}
#noteSamples h3 .author{width:310px;}
#noteSamples h3 .tags{width:168px;}
#noteContent h3 .author{width:282px;}
#searchContent .tags{font-weight:bold; margin-bottom:3px;width:423px;}

#noteContent, #noteSamples{
	width:500px;
	float:left;
}

#noteContent{
	font-size:14px;
	line-height:18px;
	padding:18px 13px 18px 30px;
	width:423px;
}

#noteContent p{margin-bottom:18px;}

#noteSamples{
	font-size:12px;
	line-height:16px;
	overflow:hidden;
}
#noteSamples ul{
	width:500px;
	overflow:hidden;
}
#noteSamples > ul > li{
	padding:9px 20px 11px 30px;
	float:left;
	background-color:#fff;
	border-top:1px solid #CBCDCE;
}

#noteSamples li:first-child{border:none;}
#noteSamples li .overflowContainer{
	height:55px;
	overflow:hidden;
	position:relative;
}

#noteSamples li .overflowContainer div.noteText{
	white-space: nowrap;  
    overflow: hidden;  
	height:19px;
	width:450px;
	text-overflow:ellipsis;
}

#noteSamples li.selected,
#noteSamples li.selected .overflowContainer .ellipsis,
#noteSamples li:hover,
#noteSamples li:hover .overflowContainer .ellipsis{background-color:#E6E9EB; cursor:pointer;}

#noteSamples .topPagination{border-bottom:1px solid #cbcdce;}
#noteSamples .bottomPagination{border-top:1px solid #cbcdce;}

#progress .pagination{
	float:none;
	text-align:center;
}

/* labs styles */
#labs table{
	width:889px;
	margin:0 auto;
	border-collapse:collapse;
}

#labs table th{
	background:#75848c;
	color:#fff;
	border:1px solid #fff;
	font-weight:bold;
	padding:12px 9px 10px;
}

#labs table td{
	border:1px solid #fff;
	background:#eaf1ce;
	padding:6px 8px 6px 9px;
	font-weight:bold;
}

#labs table td p{
	line-height:23px;
	margin-bottom:5px;
}

#labs table .odd td{background:#dae6a9;}
#labs table th:first-child{padding:12px 21px 10px;}
#labs table .labName{width:162px;}	
#labs table .date{width:72px;}	
#labs table td:first-child{background:#75848C; color:#fff; padding-left:21px;}
#labs table .odd  td:first-child{background: #acb5ba;}

#labs .pagination{margin-right:55px;}
#labs .topPagination{margin:25px 0 0 20px; padding-bottom:0px;}

#labs .noresults{	
	padding:25px 0;
	width:889px;
	margin:0 auto;
}

.ie7 #labsTopBar #labTestsDropdown .pullDown,
.ie8 #labsTopBar #labTestsDropdown .pullDown{-pie-watch-ancestors: 6;}

#labs #labsTopBar{
	width:889px;
	padding:15px 0 10px;
	margin:0 auto;
}

#labs #labsTopBar .orangeBtn{top:25px;}

#colorboxForm .orangeBtn{margin-right:40px;}
#colorboxForm.enterLabs #labFields{position:absolute;left:-9000px; top:-9000px;}
#colorboxForm.enterLabs #labFields.show{left:0px; top:auto;}
#colorboxForm.enterLabs{width:700px; height:550px;}
#colorboxForm.enterLabs .dropdown{float:left;}

#colorboxForm.enterLabs #labsPatID{
	margin-bottom:35px;
	text-transform:uppercase;
}

#colorboxForm.enterLabs #labsPatID span{font-weight:bold;color:#3e3e3e;}
#colorboxForm.enterLabs #saveLab{display:none;}
#colorboxForm.enterLabs .fieldWrapper label{width:200px; padding-left:20px;}
#colorboxForm.enterLabs #labsErrorMsg{clear:both; height:40px; padding-top:10px;}
.ie7 #colorboxForm.enterLabs .dob .pullDown,
.ie8 #colorboxForm.enterLabs .dob .pullDown{-pie-watch-ancestors: 2;}
#colorboxForm.enterLabs #savedLab{
	position:absolute;  
	left:-9000px; 
	font-size:16px;
	text-align:center;
	width:100%;
}
#colorboxForm.enterLabs #savedLab.show{left:0px;}
#colorboxForm.enterLabs #savedLab .orangeBtn{width:135px;}
#colorboxForm.enterLabs #savedLab p.buttons{width:225px;	float:left;	line-height:28px;margin:20px 0 0 250px;}
#colorboxForm.enterLabs #savedLab p.buttons *{float:left; margin-right:9px;}

#colorboxForm.diagnosisStage{width:700px; height:450px;}
#colorboxForm .diagnosis{padding:20px 0 0 75px;}
#colorboxForm .diagnosis .errorMsg{padding:0 0 5px 10px; display:none;}
#colorboxForm .diagnosis .instructions{font-weight:normal;padding:15px 0 5px;}
#colorboxForm .diagnosis .pullDown{font-size:12px;}
#colorboxForm .stage label, 
#colorboxForm .stage .dropdown,
#colorboxForm #stageSelectedDropdown{float:left;}
#colorboxForm .diagnosis .symptom{margin-bottom:10px;}
#colorboxForm #primary_diagnosis{width:555px;}
#colorboxForm #primary_diagnosis .pullDown{width:545px;}
#colorboxForm #stageDropdown,
#colorboxForm #stageSelectedDropdown{width:110px;}
#colorboxForm #stageDropdown .pullDown,
#colorboxForm #stageSelectedDropdown .pullDown{width:100px;}
#colorboxForm .diagnosis textarea{margin-right:0;width:542px; height:65px}
#colorboxForm .diagnosis ul label{width:auto; padding-top:5px; font-weight:bold; float:none;}
#colorboxForm .diagnosis ul.stage label,
#colorboxForm .diagnosis ul:first-child, 
#colorboxForm .diagnosis ul.stage{float:left;}
#colorboxForm .diagnosis .orangeBtn{clear:both; margin-top:20px;}
#colorboxForm.diagnosisStage h1{overflow:hidden;}
#colorboxForm.diagnosisStage h1 .viewPast{margin-left:20px;}
#colorboxForm.diagnosisStage .line{border-left:1px solid #fff; height:34px; float:left;}
#colorboxForm.diagnosisStage h1 a{color:#d7edf6; margin-right:20px; float:left;}
#colorboxForm.diagnosisStage h1 a.active{color:#fff; text-decoration:none;}
#colorboxForm .diagnosisStageContainer .errorMsg{display:none;}
#colorboxForm .diagnosisStageContainer{position:absolute; left:-9000px; top:-9000px;}
#colorboxForm.diagnosisStage .show,
#colorboxForm.initialDiagnosisStage .show{left:0px; top:71px;}
#colorboxForm #viewPastDiagnosis{overflow-y:auto; height:349px; padding-bottom:30px;width:100%;}
#colorboxForm #viewPastDiagnosis table{
	border-collapse:collapse;
	width:620px;
	margin:30px auto 0; 
	font-size:14px;
}
#colorboxForm #viewPastDiagnosis th{
	color:#fff;
	font-weight:bold;
	background:#75848c;
	border:1px solid #fff;
	padding:10px 9px 8px;
	line-height:24px;
}

#colorboxForm #viewPastDiagnosis td{
	background:#eaf1ce;
	padding:3px 10px;
	line-height:18px;
	font-weight:bold;
	border:1px solid #fff;
}
#colorboxForm #viewPastDiagnosis .odd td{background:#dae6a9;}
#colorboxForm #viewPastDiagnosis th.date{width:65px;}
#colorboxForm #viewPastDiagnosis th.primaryDiagnosis{width:210px;}
#colorboxForm #viewPastDiagnosis th.secondaryDiagnoses{width:210px;}
#colorboxForm #viewPastDiagnosis th.stage{width:38px;}

#colorboxForm.initialDiagnosisStage .diagnosisStageContainer{height:559px; overflow:hidden; width:700px;}
#colorboxForm.initialDiagnosisStage{width:700px; height:630px;}
#colorboxForm.initialDiagnosisStage #ids1{position:absolute; right:-9000px; bottom:70px;}
#colorboxForm.initialDiagnosisStage #ids1.showButton{right:0px;}
#colorboxForm.initialDiagnosisStage .stageInfo{display:none;}
#colorboxForm.initialDiagnosisStage .radioList > li{height:45px;}
#colorboxForm.initialDiagnosisStage .radioList li label{width:540px; font-weight:normal; padding:0 0 0 5px;text-align:left;}
#colorboxForm.initialDiagnosisStage #stageDropdown{margin:25px 0 0 5px;}
#colorboxForm.initialDiagnosisStage .stage > li  > label{float:none;text-align:left; padding-bottom:10px; display:block;}
#colorboxForm.initialDiagnosisStage .floatWrapper,
#colorboxForm.initialDiagnosisStage ul.radioList input,
#colorboxForm.initialDiagnosisStage div.floatWrapper label{float:left;}
#colorboxForm.initialDiagnosisStage div.floatWrapper label#stageLabel{width:auto;}
#colorboxForm.initialDiagnosisStage #ips{padding-left:20px; width:680px; float:left;}
#colorboxForm.initialDiagnosisStage #ips ul:first-child{float:left;}
#colorboxForm.initialDiagnosisStage #ips .errorMsg{display:none;}
#colorboxForm.initialDiagnosisStage #ips > ul > li{float:left; width:165px;}
#colorboxForm.initialDiagnosisStage #ips .minHeight{min-height:149px;}
#colorboxForm.initialDiagnosisStage #ips > ul > li > label{color:#1389B8; text-align:left; width:auto; padding:3px 0;}
#colorboxForm.initialDiagnosisStage #ips .checkboxList label{ text-align:left; font-weight:normal; padding:0 0 4px 3px;}
#colorboxForm.initialDiagnosisStage #ips .checkboxList,
#colorboxForm.initialDiagnosisStage #ips .checkboxList li{float:left; width:100%;}
#colorboxForm.initialDiagnosisStage #ips .checkboxList input{margin-top:2px; float:left;}
#colorboxForm.initialDiagnosisStage #ips .checkboxList span{font-size:12px;}
#colorboxForm.initialDiagnosisStage #ips  .mood_stabilizers{height:119px; overflow:hidden;}
#colorboxForm.initialDiagnosisStage #drugKey{float:left; padding:10px 0 15px;}
#colorboxForm.initialDiagnosisStage #drugKey .blue{color:#1389B8; font-weight:bold;}
#colorboxForm.initialDiagnosisStage .prev{float:left; margin-left:40px;}
#colorboxForm.initialDiagnosisStage #saveDiagnosisStage .fieldWrapper{width:100%;}
#colorboxForm.initialDiagnosisStage #saveDiagnosisStage label{width:215px; font-weight:normal;}
#colorboxForm.initialDiagnosisStage #saveDiagnosisStage .inputVal{font-weight:bold; width:425px; float:left; padding-top:11px; font-size:14px;}
#colorboxForm.initialDiagnosisStage #saveDiagnosisStage{padding:30px 0 0 20px;}
#colorboxForm.initialDiagnosisStage .stageInfo{float:left; width:450px; font-size:14px; padding-top:9px; line-height:22px;}
#colorboxForm.initialDiagnosisStage #stageSelectedDropdown{margin:10px 43px 0 3px; float:right;}
#colorboxForm.initialDiagnosisStage #saveDiagnosisStage > ul{float:left; width:100%; padding-bottom:60px;}

#colorboxForm.discontinueMeds{width:700px; height:450px;}
#colorboxForm  .dcMeds{padding:20px 0 0 20px; float:left; height:322px; overflow-y:auto;}
#colorboxForm  .dcMeds h3{font-weight:bold;float:left;width:340px; font-size:14px;}
#colorboxForm  .medList li{width:100%;float:left;}
#colorboxForm  .medList li label{float:left; width:340px; padding-left:20px; font-weight:normal; text-transform:capitalize; text-align:left;}
#colorboxForm  .medList li input{float:left; margin-top:11px; }
#colorboxForm.discontinueMeds .errorMsg{display:none; padding-top:30px;}
#colorboxForm.enterNewMeds{width:700px; height:450px;}
#colorboxForm.nonConsistency li {overflow:hidden; padding-bottom:10px;}
#colorboxForm.nonConsistency li input{float:left;width:13px; height:13px; margin:0; padding:0;}
#colorboxForm.nonConsistency li label{float:left; width:625px; text-align:left; padding:0 0 0 10px; font-weight:normal;}
#colorboxForm.nonConsistency form{padding:22px;overflow:hidden;}
#colorboxForm.nonConsistency .errorMsg{display:none;}
#colorboxForm.nonConsistency{height:660px;}

/* patient information */
#createFields{position:relative;}
#information {
	padding-top:15px;	
}
#information.tabBox h2{
	font-size:20px; 
	font-weight: normal; 
	margin-bottom:27px;
	line-height:22px;
	padding-left:20px;
}

#information #editPatientInfo{
	height:0px;
	top:15px;
	position:absolute;
	overflow:hidden;
}

#information #editPatientInfo.open{
	height:auto;
	overflow:visible;
}

.ie7 #information #editPatientInfo .greenInput,
.ie8 #information #editPatientInfo .greenInput{-pie-watch-ancestors: 6;}

#displayPatientInfo, #editPatientInfo{
	width:950px;
}

#displayInfo{
	margin: 0 auto;
    padding: 0 0px 5px 0;
    width: 850px;
	overflow:hidden;
}

#displayInfo label{
	color:#797979;
	font-weight:normal;
	width:130px;
}

#displayInfo .floatLeft{
	padding:0px;
	width:425px;
}

#displayInfo .infoText{
	font-weight:bold;
	padding-top:11px;
	float:left;
	min-height:30px;
	text-transform:capitalize;
	width:270px;
}
#displayInfo #pcpeText{text-transform:none;}

#displayInfo .paddingTop{padding-top:30px;}

#displayInfo #raceText li{
	padding:2px 0;	
	line-height:16px;
}

#displayInfo .subRace{
	font-size:12px;
	font-weight:normal;
}

#displayInfo .fieldWrapper{width:425px;}
#displayInfo #editBtn{margin-right:30px;	float:right;}

.ie7 #savePatient,
.ie8 #savePatient,
.ie7 #displayInfo #editBtn,
.ie8 #displayInfo #editBtn{-pie-watch-ancestors: 4;}

#closeEditPatient{
	float:right;
	font-size:16px;
	margin-left:17px;
	line-height:30px;
}

/* patient evaluations */
#evaluations #evalNav{
	float:left;
	padding:20px 25px 20px 70px;
	width:297px;
	font-size:12px;
}

#evaluations #evalNav li span.upper{
	font-weight:bold;
	text-transform:uppercase;
}

#evalNav a{color:#3E3E3E;}
#evalNav a:hover{text-decoration:none;}
#evalNav li.ui-state-active a{color:#1389B8;text-decoration:underline;}

#evaluations #evalNav li{line-height:18px;margin-top:8px;}
#evaluations #evalNav .ui-state-disabled a{color:#75848C; text-decoration:none;}
#evaluations #evalNav li.pastEval{
	margin:0px 0 0 5px;
	padding-left:12px;
	background: url(../images/doubleArrows.gif) no-repeat 0px 6px;
	display:none;
}

#evaluations #evalNav h3{
	font-weight:bold;
	/*color:#4A96B6;*/
	margin:28px 0 -5px 0;
	font-size:14px;
	text-indent:-20px;
}

#evaluations #evalContent{
	float:left;
	padding:20px 15px 0px 20px;
	width:555px;
	position:relative;
}

#evaluations .popupScale{
	left:-9999px;
	padding:20px 24px;;
	background:#e6e9eb;
	-moz-box-shadow: 0px 0px 6px #454545;
    -webkit-box-shadow: 0px 0px 6px #454545; 
    box-shadow: #454545 0px 0px 6px;     
	position:absolute;
	top:0px;	
	font-size:12px;
	width:340px;
}

#evaluations .popupScale.show{left:-397px;}

.ie7 #evaluations .popupScale,
.ie8 #evaluations .popupScale{behavior: url(pie.htc);}

#evaluations div.popupScale li{margin-bottom:2px; overflow:hidden; padding:0;}
#evaluations div.popupScale li .bold{font-weight:bold; text-transform:uppercase;}
#evaluations div.popupScale li .rating{width:10px;}
#evaluations div.popupScale li .floatLeft{width:320px;}
#evaluations div.popupScale li .rating, #evaluations .popupScale li .floatLeft{float:left; padding:0;}
#evaluations div.popupScale p{margin-bottom:10px;}

#evaluations .popupScale h2{
	font-weight:bold;
	font-size:14px;	
	line-height:14px;
	margin-bottom:7px;
	text-transform:uppercase;
	color:#4A96B6;
}

#evaluations .popupScale .closePopup{
	background: url(../images/closeBtn.png) no-repeat;
	height:30px;
	top:5px;
	right:5px;
	display:block;
	position:absolute;
	text-indent:-9000px;
	width:30px;
}
#evaluations .popupScale .closePopup:hover{background-position:bottom left;}

#evaluations form{float:left; width:555px; padding-bottom:20px;}

#evaluations .questionList li.top{display:none;}
#evaluations .past .questionList li.top{display:block;}

#evaluations .questionList{float:left; width:555px;}
#evaluations .questionList li{
	position:relative; 
	width:545px;
	padding:5px;
	margin-bottom:15px;
}

#evaluations .questionList li.subscale{margin-bottom:0; padding:2px 5px;}
#evaluations .questionList li.total.bottom{margin-top:5px;}
#evaluations .questionList li.showPopup{background:#e6e9eb;}
#evaluations .past .questionList li.showPopup .greenInput{border:1px solid #e6e9eb;}
#evaluations .questionList .title{text-transform:uppercase;color:#1389b8;font-weight:bold;}
#evaluations .evaluatedBy{
	margin-top:20px;
	display:none;	
	float:left;
}
#evaluations .evaluatedBy span{font-weight:bold;}

#evaluations .questionList .inputVal{
	font-weight:bold;
	margin-right:10px;
	padding:0 3px;
	width:16px;
}

#evaluations .questionList .symptom .inputVal{display:none;float:left;}
#evaluations .symptom .errorMsg{text-align:left;}
#evaluations .questionList li .floatLeft{padding:0; width:475px;}
#evaluations .questionList li input{width:20px;	float:left;}
#evaluations .eval h1{
	font-weight:normal;
	font-size:18px;
	float:left;
	margin-bottom:10px;
}
#evaluations .instructions{ margin-bottom:10px; clear:both;}
#evaluations .buttons{overflow:hidden; padding:15px 5px 5px;}
#evaluations .buttons.top{padding:2px 2px 5px;}
#evaluations .buttons .cancelEval{float:right; margin:0px 0 0 20px;font-size: 16px;}
#evaluations .buttons.bottom{clear:both;}
#evaluations .buttons.bottom .cancelEval{margin-top:4px;}
#evaluations .evalNav{
	display:none;
	position:relative; 
	float:left;
	width:555px;
	height:20px;
	padding-bottom:10px;
}
#evaluations .past .symptom .inputVal{display:inline;}
#evaluations .past .evalNav,
#evaluations .past .evaluatedBy{display:block;}

#evaluations .past .evalNav a,
#evaluations .past .buttons,
#evaluations .past .greenInput,
#evaluations .past .instructions,
#evaluations .past textarea,
#evaluations .past .dropdown{display:none;} 

#evaluations .past .prevEval{float:left;}
#evaluations .past .nextEval{float:right;}
#evaluations .past .evalDate{position:absolute; left:50%; margin-left:-60px; font-weight:bold;}

#evaluations .phq9  li{overflow:hidden; margin:0; padding:5px 0; width:555px;}
#evaluations .phq9 .questionList li.top{margin-top:-28px;}

#evaluations .radiolist, 
#evaluations .phq9 label,
#evaluations .phq9 label span,
#evaluations .phq9 .radiolist li,
#evaluations .scoreTitles li{float:left; font-size:12px;}

#evaluations .phq9 .radiolist li,
#evaluations .scoreTitles li{text-align:center; width:63px;}

#evaluations .phq9 .radiolist li:first-child{width:39px; text-align:left;}
#evaluations .phq9 .radiolist li.score{ width:35px; padding-top:2px;}
#evaluations .phq9 .radiolist .score .inputVal{display:block; font-size:14px; margin:0 0 0 10px;} 
#evaluations .phq9 .radiolist li input{float:none;}

#evaluations .phq9 .lastQuestion{float:left; width:555px;}
#evaluations .phq9 label{width:287px;}
#evaluations .phq9 label span{width:260px;font-size:14px;}
#evaluations .phq9 label .number{font-weight:bold; margin-right:5px; width:15px;}

#evaluations .scoreTitles{overflow:hidden; font-weight:bold; padding-left:252px; float:left; width:303px;}
#evaluations .scoreTitles li{width:67px; line-height:13px;}
#evaluations .scoreTitles li.score{width:35px; padding-right:0px;}
#evaluations .phq9 .lastQuestion label span{width:245px;} 

#evaluations #scoreInterpretation{padding-top:20px; float:left;}
#evaluations #scoreInterpretation ul{width:450px;}
#evaluations #scoreInterpretation h2{color:#1389B8; font-size:14px; font-weight:bold;}
#evaluations #scoreInterpretation li{float:left; padding:0px; font-size:12px;	margin-right:15px; width:auto;}
#evaluations #scoreInterpretation li span{font-weight:bold; color:#1389B8;}

#evaluations .psychiatricEvaluation label,
#evaluations .mentalStatus label{display:block;font-weight:bold;}
#evaluations .past .psychiatricEvaluation label,
#evaluations .past .mentalStatus label,
#evaluations .past .patientVitalSigns label{font-weight:normal;}
#evaluations .psychiatricEval .questionList li,
#evaluations .mentalStatus .questionList li{padding:0;}
#evaluations .psychiatricEval .errorMsg,
#evaluations .mentalStatus .errorMsg{display:none; padding:5px 0 10px;}
#evaluations .eval .psychiatricEval .inputVal,
#evaluations .eval .mentalStatus .inputVal{width:auto; padding:0; display:block; float:none; width:530px;}

#evaluations .patientVitalSigns .dropdown{float:left; width:100px; margin-right:3px;}
#evaluations .patientVitalSigns .pullDown{width:90px;}
#evaluations .patientVitalSigns .labelText{padding:0 5px;}
#evaluations .patientVitalSigns .marginRight{margin-right:15px;}
#evaluations .patientVitalSigns .fieldWrapper label,
#evaluations .patientVitalSigns .labelText,
#evaluations .patientVitalSigns .greenInput,
#evaluations .patientVitalSigns .inputVal{float:left;}
#evaluations .patientVitalSigns .greenInput{margin-right:3px; width:214px;}
#evaluations .patientVitalSigns .fieldWrapper{width:530px;padding:5px 0 10px;}
#evaluations .patientVitalSigns  label{font-weight:bold; width:140px;}
#evaluations .patientVitalSigns .fieldWrapper label,
#evaluations .patientVitalSigns .labelText,
#evaluations .patientVitalSigns .inputVal{padding-top:7px;}
#evaluations .patientVitalSigns .inputVal{font-weight:bold;}
#evaluations .patientVitalSigns #bmi .inputVal{display:block; margin-top:5px; font-weight:bold; height:20px;}
#evaluations .patientVitalSigns #blood_pressure .greenInput{width:87px;}
#evaluations .patientVitalSigns .errorMsg{padding-top:5px;}
#evaluations .patientVitalSigns .evalNav{padding-bottom:20px;}
#evaluations .patientVitalSigns .notEntered .labelText{display:none;}
#evaluations .patientVitalSigns #height.notEntered .heightIn{display:none;}

#evaluations .grsEval .buttons{padding-top:30px;}
#evaluations .grsEval .fieldWrapper{float:none; padding:10px 0 10px;}
#evaluations .grsEval .fieldWrapper  h2{font-size:14px; font-weight:bold; float:left;}
#evaluations .grsEval .fieldWrapper p{font-size:13px; margin-bottom:10px; clear:both;}
#evaluations .grsEval .fieldWrapper .unableToAssess{float:right;  font-weight:bold;}
#evaluations .grsEval .fieldWrapper .unableToAssess input{margin:0; padding:0; width:13px; height:13px;}
#evaluations .grsEval .errorMsg{display:none;}
#evaluations .grsEval .scale{overflow:hidden;}
#evaluations .grsEval .scale li{
	float:left;
	font-weight:bold;
	width:52px;
	text-align:center;
}	

#evaluations .grsEval .scale li:first-child{text-align:left; width:35px;}
#evaluations .grsEval .scale li:first-child input{margin:0;}
#evaluations .grsEval .scale li input{
	display:block;
	margin:0 auto;
	padding:0;
	width:15px;
	height:15px;
}

#evaluations .grsEval .scale li .rating{font-size:10px; line-height:12px; display:block;}
#evaluations .grsEval .blue{color:#1389B8; font-weight:bold;}

#evaluations .substanceAbuse .fieldWrapper{float:none; padding:0 0 20px 50px; overflow:hidden;}
#evaluations .substanceAbuse .fieldWrapper label{float:left; width:120px; padding-right:87px;}
#evaluations .substanceAbuse .fieldWrapper em{display:block; font-style:italic; font-size:12px;}
#evaluations .substanceAbuse .checkboxlist li{float:left; width:120px;}
#evaluations .substanceAbuse .checkboxlist li:first-child{ width:170px;}
#evaluations .substanceAbuse .scoreTitles li{padding:0 42px; width:85px;}
#evaluations .substanceAbuse .scoreTitles {padding:0 0 15px 182px; width:370px;}
#evaluations .substanceAbuse .substanceAbuseList{float:left; width:555px;}
#evaluations .substanceAbuse .errorMsg{display:none;}