body{
  margin: 5px;
  font-family:Arial, Helvetica, sans-serif;
  font-size:10pt;
  }

table {
  border-spacing: 0px;
  padding: 0px 0px 0px 0px;
  border: 1px solid #6699cc;
  border-collapse: collapse;
  width: 100%;
  font-size:10pt;
  font-weight:normal;
  color:#000000;
  text-decoration:none;
}

A {
  text-decoration: underline;
  color: maroon;
  font-size:10pt;
  font-weight:normal;
}
A.renew {
  color:green;
}
A.prescribe {
  color:blue;
}
A.heading1Link {
  text-decoration: underline;
  color: maroon;
  font-size:10pt;
  font-weight:bold;
}

A.redLink16 {
  text-decoration: underline;
  color: red;
  font-size:16pt;
  font-weight:bold;
}

.errorText {
  font-size:10pt;
  font-weight:normal;
  color:RED;
}

.notifyText {
  font-size:10pt;
  font-weight:bold;
  color:BLUE;
}

table.table_medium {
  border-spacing: 0px;
  padding: 0px 0px 0px 0px;
  border: 0px solid #FFFFFF;
  border-collapse: collapse;
  width: 30%;
}

table.table_short {
  border-spacing: 0px;
  padding: 0px 0px 0px 0px;
  border: 0px solid #FFFFFF;
  border-collapse: collapse;
  width: 10%;
}

table.table_short_grid {
  border-spacing: 0px;
  padding: 0px 0px 0px 0px;
  border: 1px solid #808080;
  border-collapse: collapse;
  width: 10%;
}

table.table_script {
  border-spacing: 0px;
  padding: 0px 0px 0px 0px;
  border: 1px solid #6699cc;
  border-collapse: collapse;
  width: 325px;
}

table.signature {
  border-spacing: 0px;
  padding: 0px 0px 0px 0px;
  border: 1px solid #808080;
  border-collapse: collapse;
  width: 1;
  white-space: nowrap;
}

table.noBorder {
  border-spacing: 0px;
  padding: 0px 0px 0px 0px;
  border: 0px solid #FFFFFF;
  border-collapse: collapse;
  font-size:10pt;
  font-weight:normal;
  color:#000000;
  text-decoration:none;
}

table.medWebSearch {
  border-spacing: 0px;
  padding: 0px 0px 0px 0px;
  border: 0px solid #FFFFFF;
  border-collapse: collapse;
  font-size:10pt;
  font-weight:normal;
  color:#000000;
  text-decoration:none;
  width: 1;
}
A.menuItem {
  font-size:10pt;
  font-weight:bold;
  color:#FFFFFF;
  text-decoration:none;
  }

.menuItem_disabled{
  font-size:10pt;
  font-weight:bold;
  color:#656565;
  text-decoration:none;
  }

.dataLabel {
  font-size:10pt;
  font-weight:bold;
  color:#000000;
  text-decoration:none;
  }

.dataLabelRed {
  font-size:10pt;
  font-weight:bold;
  color:RED;
  text-decoration:none;
  }

.dataValue {
  font-size:10pt;
  font-weight:normal;
  color:#000000;
  text-decoration:none;
  }

.provider {
  font-size:10pt;
  font-weight:bold;
  color:#000000;
  text-decoration:none;
  }


.provideraddress {
  font-size:10pt;
  font-weight:normal;
  color:#000000;
  text-decoration:none;
  }

.sig_bold {
  font-size:10pt;
  font-weight:normal;
  color:#000000;
  text-decoration:none;
  }

.sig {
  font-size:10pt;
  font-weight:normal;
  color:#000000;
  text-decoration:none;
  }

.input {
  font-size:7pt;
  font-weight:normal;
  color:#000000;
  text-decoration:none;
  }

textarea {
  font-family:Arial, Helvetica, sans-serif;
  font-size:10pt;
  font-weight:normal;
  color:#000000;
  text-decoration:none;
  }

.dataValueEmphasized {
  font-size:11pt;
  font-weight:bold;
  color:#000000;
  text-decoration:none;
  }

.heading1 {
  font-size:10pt;
  font-weight:bold;
  color:navy;
  text-decoration:none;
  background-color:#85A6C5;
  }
.heading1PatientDemographics {
  font-size:10pt;
  font-weight:bold;
  color:#FFFFFF;
  text-decoration:none;
  background-color:#29547F;
  }

.heading2 {
  font-size:10pt;
  font-weight:normal;
  color:#000000;
  text-decoration:none;
  background-color:#B6CCE1;
  }

.notify {
  font-size:10pt;
  font-weight:bold;
  color:navy;
  text-decoration:none;
  }

.rowEven {
  font-size:10pt;
  font-weight:normal;
  background-color:#FFFFCC;
  text-decoration:none;
}

.rowOdd {
  font-size:10pt;
  font-weight:normal;
  background-color:#FFFFFF;
  text-decoration:none;
}

.menuItem_disabled_light{
  font-size:10pt;
  font-weight:bold;
  color:#CCCCCC;
  text-decoration:none;
}

.allergicReaction {
	font-weight: bold;
}

#DFDigitalSigner { display:none; } /* This is to fix a display bug in Chrome */

/** The continue button that switches to the medication query list */
input#pdfContinue
{
	margin-left: 10px;
}

/** The embedded PDF of the prescription */
iframe#pdfWindow
{
	display: block;
	width: 100%;
	height: 100%;
	border: none;
}

/** The medication query list table */
table#medicationQueryTable
{
	margin-top: 10px;
}

/** Added for MD Anderson Phase II @author mkotelba */

span.drugSearchLabel
{
	font-weight: bold;
}

span.privateLabelDrugSearchLabel
{
}